html, body {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    background-color: #D4F6BB;
}

body {
    padding-top: 70px;
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.navbar-nav>li>a:first-child {
    padding-left:0;
}

.navbar {
    background-color: #D4F6BB;
    border: none;
}

.navbar a {
    text-decoration: none;
    color: #333333;
}

.navbar-left li {
    font-size: 16px;
}

.firstName {
    font-size: 75%;
}

.name {
    text-align: center;
    font-size: 2em;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: black;
}

.small-name {
    display: inline;
    color:black;
}

.navbar-toggle {
    margin-left: -59px;
}

.main p {
    font-size: 3em;
    font-weight: 200;
}

.codeup a {
    text-decoration: none;
}

.personal-photo {
    display: block;
    margin: 0 auto;
    max-width: 80%;
}

.home-text {
    padding-left:50px;
    padding-right:50px;
}

